<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title> Handwritten Digit Recognition </title>
	<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<h1> Handwritten Digit Recognition </h1>
	<canvas id="canvas" width="280" height="280" style="border:8px solid; float: left; margin: 70px; margin-top:160px;  border-radius: 5px; cursor: crosshair;"></canvas>
		<div id="debug" style="margin:65px; margin-top:100px;">
			<input type="button" id="clearButton" value="Clear" style="">
			<br/>
			<span style="color: #4DAF7C; font-weight: 400; font-family: 'Open Sans', Helvetica;	">Draw the Digit inside this Box!</span>
		</div>
		<div style="margin-left:175px; margin-top:460px; float:left; position:absolute;">
			<a href="#" class="myButton"><span style="font-weight: 400;font-family:'Open Sans',Helvetic"> Predict </span></a>
		</div>
		<div>
			<h1 id="result" style="margin-right:20px; margin-top:300px;float:left;"><span> </span></h1>
		</div>
  		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	    <script src="{{ url_for('static',filename='index.js') }}"></script>
	    <script type="text/javascript">
	   
	   		$(".myButton").click(function(){
	   			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL();
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/predict/",
	   				data: img,
	   				success: function(data){
	   					$('#result').text(' Predicted Output: '+data);
	   				}
	   			});
	   		});
	   
	   </script>
</body>
</html>